div(class="container-LoginRegister ed-grid")
	setion(class="container-top")
		div(class="m-cols-2 ed-container")
			img(style="max-width: 325px;" src="assets/img/logo-apuestamex.png", alt="logo-apuestamex")
		div(class="ed-container container-LR")
			button(class="select-LR select-l" id="btnLogin") Iniciar Sesion
			button(class="select-LR select-r" id="btnRegister") Registro

			
div(class="container-formulario ed-grid")
	setion(class="container-top")
		form(name="LoginForm" class="form-login" action="javascript:void(0)" onsubmit="BackEndLogin(this); return false")
			div(class="ed-container form-grop-login")
				div(class="separador")
					label(for="username") Usuario
					br
					input(type="text" name="username" required placeholder="Escribe tu usuario")
				div(class="separador")
					label(for="password") Contraseña
					br
					input(type="password" name="password" required  placeholder="*** *** ***")
				div(class="text-center mt-2")
					small(name="msj_error_lg" class="text-danger")
				div
					button(class="btn-summitLogin"  type="submit" name="btn-login")
						span(name="msj_loading" id="id-login-loading")
						span(name="msj_login") Ingresar
				br
				a(href="https://apuestas.apuestamx.com/Inicio/restablecer-contra") RecuperarContraseña
				input(type="hidden" name="BackEndUrl" value="https://apuestas.apuestamx.com")
		script(src="https://images.betimages.com/Betslip/js/quick.login.min.js")
		div(class="ed-container form-register")
			iframe(style="width: 100%; height: 70vh;" src="https://apuestas.apuestamx.com/registro", frameborder="0") 
