div(class="container-cont-Prodcuts ed-grid m-grid-4 s-grid-1")
	include ../config/utilis/products-line1

img(style="margin-top: 1rem" src="assets/img/lineas-letras.png", alt="")

div(class="container-cont-Prodcuts ed-grid m-grid-3 s-grid-1")
	include ../config/utilis/products-line2

img(style="margin-top: 1rem" src="assets/img/lineas-letras-naranja.png", alt="")

div(class="container-cont-Prodcuts ed-grid s-grid-1 m-grid-4")
	div(class="container-cardProducts s-x-0 s-cols-0 m-x-2 m-cols-2")
		picture
			source(media="(max-width:460px)", srcset="assets/img/caja-horseracing-texto-310x260.png")
			img(src="assets/img/caja-horseracing-texto-700x300.png", alt="caja-horseracing")

		button(class="btn-hackCaballos") APOSTAR

img(style="margin-top: 1rem" src="assets/img/lineas-letras-naranja.png", alt="")

div(class="container-cont-Prodcuts ed-grid s-grid-1 m-grid-4")
	include ../config/utilis/products-line4
