div(class="container-cont ed-grid m-grid-2 s-grid-1")
	div(class=" container-cardApostar")
		h3 Soccer / Domingo Nov 20
		img(src="assets/img/fondo-marcador.png", alt="", srcset="")
		button APOSTAR
	div(class=" container-cardApostar")
		h3 Soccer / Domingo Nov 20
		img(src="assets/img/fondo-marcador.png", alt="", srcset="")
		button APOSTAR
	div(class=" container-cardApostar")
		h3 Soccer / Domingo Nov 20
		img(src="assets/img/fondo-marcador.png", alt="", srcset="")
		button APOSTAR
	div(class=" container-cardApostar")
		h3 Soccer / Domingo Nov 20
		img(src="assets/img/fondo-marcador.png", alt="", srcset="")
		button APOSTAR



