div(class="main-casino")
	div(class="main-cont ed-grid")
		div(class="container-cont")
			div(class="text-cont")
				include:markdown-it(html) ../md/casino.md
			
		div(class="ed-container container-gamesC")
			div(class="ed-grid rows-gap m-gap-1 s-grid-1 m-grid-3 l-grid-4")
				div(class="s-cols-1 m-cols-4 s-x-1")
					br
					div(class="text-cont")
						h3 Vista Previa de Juegos
				
				include ../config/utilis/img-casino
