extends ../config/template
append config
	-currentPage		= "Slots"
	-siteName			= 'Apuesta MX'
	-content			= 'content'
	-pageDescription	= 'Pagina de apuestas en mexico e internacional'
block main-header
block main-container
	include ../components/casino-main
block main-footer
	include ../includes/footer
block scripts
