mixin pushPartido()
		-for(var i=0; i < partido_home.length; i++)

			+pushimg(i)
mixin pushimg(i)
	-var idClass = partido_home[i].partidos[i].idClass;
	div(class="container-cont ed-grid m-grid-2 s-grid-1" class=idClass)
		-for(var j = 0; j < partido_home[i].partidos.length; j++)
			-var partidoAlt = partido_home[i].partidos[j].alt;
			-var partidoImg = partido_home[i].partidos[j].img;
			div(class="container-cardApostar" class=id)
				img(src=partidoImg, alt=partidoAlt)
				a(href="login.html"): button APOSTAR

+pushPartido()



